<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base_1/assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base_1/assets/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base_1/assets/css/trelyco-login-vertical-horizontal-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base_1/assets/css/trelyco-login-vertical-horizontal.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
        <h2 style="color:orange">FRAUD APP FINDER</h2>
    </nav>

<center style="padding-top: 100px">
    <h1>Welocme to <span style="color:orange;">FRAUD APP FINDER</span></h1>
    <h3><a href="{{ url_for('Instruction') }}">Click here </a>for instructions</h3>
</center>
</body>
</html>